extends layout

block content
    h1 Weijo
    p
        | Weijo is an example client application for 
        a(href="https://w2e.fi") W2E
        | . It uses the 
        a(href="https://w2e.fi/doc") W2E API
        |  to create a user and let the user link some devices.

    p
        | This is a simple Node.js + Express application. 
        a(href="https://bitbucket.org/anttihn/weijo") Source code here.

    p
        | Using <strong>
        = W2E
        </strong> as the backend.
        if (W2E != 'w2e.fi')
            |  The official backend is at w2e.fi. The APIs are the same, though.

    form(action="/step1", method="get")
        input(type="submit", value="Start")
