extends layout

block content
    h1 Got User Info
    p
        | Got the info of the user 
        = username
        | . Here it is:
    textarea
        = JSON.stringify(data, undefined, 2)

    h1 Step 3: Get Link Token
    p Next we could link a device for the user.
    p
        | First we need to get a <em>link token</em> for the user.
        | That can be done with the following kind of GET request, again using the same access_token.
    pre
        | GET /api/organization/users/
        = username
        | /link_token
        | Host: 
        = W2E
        | 
        | Authorization: Bearer 
        = access_token
        | 
        | ...

    form(action="/step4", method="get")
        input(type="hidden", name="username", value!=username)
        input(type="hidden", name="access_token", value!=access_token)
        input(type="hidden", name="sources", value!=Object.keys(data.sources).join(' '))
        input(type="submit", value="Get Link Token")
