extends layout

block content
    h1 Created User
    p
        | We created a user whose username turned out to be 
        = data.username
        | .
    p
        | Here's the raw data received when creating the user:
    textarea
        = JSON.stringify(data, undefined, 2)

    h1 Step 2: Get User Info
    p
        | With the access_token we received we can now get the basic info of the user. Like this:
    pre
        | GET /api/users/
        = data.username
        | 
        | Host: 
        = W2E
        | 
        | Authorization: Bearer 
        = data.access_token
        | 
        | ...

    form(action="/step3", method="get")
        input(type="hidden", name="username", value!=data.username)
        input(type="hidden", name="access_token", value!=data.access_token)
        input(type="submit", value="Get User Info")
