extends layout

block content
    h1 Got Link Token
    p
        | Got the link token. It's 
        = data.link_token

    p
        | A link token can be used only once.
        | You can always request new ones, though.
        | By, for example, 
        a(href="javascript:history.go(0)") refreshing this page
        | .

    p
        | Here are the rest of the data:
    textarea
        = JSON.stringify(data, undefined, 2)

    h1 Step 4: Link Devices for the User
    p
        | We can send our user to the <em>link_url</em> to let them manage their sources and sinks. 
        a(href!= data.link_url + '&callback=' + callback)
            | Here's the link.

    p
        | It's also possible to send the user directly to link a specific source or sink.
        | That's done with the <em>link_url_shortcuts</em>. Here they are:




    ul
        each v, k in data.link_url_shortcuts
            li
                a(href!= v + '&callback=' + callback)
                    = k

    p
        | We can add a <em>callback=</em> query parameter to the link urls to control where the user should end up after linking.
        | The callback for the above links is this very page so we should return here after linking.

    form(action="/step5", method="get")
        input(type="hidden", name="username", value!=username)
        input(type="hidden", name="access_token", value!=access_token)
        input(type="submit", value="OK, that's enough linking")
