extends layout

block content
    h1 That's it for now

    p
        | The user 
        = username
        |  no longer exists.

    h1 What's next

    p
        | You might want to take a look at 
        a(href="https://w2e.fi/doc") the W2E API documentation
        |  for more info.
    p
        | For example on how to read the users 
        a(href="https://w2e.fi/doc/data_raw.html") raw
        | , 
        a(href="https://w2e.fi/doc/data_unify.html") unified
        |  or 
        a(href="https://w2e.fi/doc/data_category.html") category
        |  data.

    p
        | The source code of this app is 
        a(href="https://bitbucket.org/anttihn/weijo") here
        | .

