extends layout

block content
    h1 Step 1: Create User
    p
        | First we 
        a(href="https://w2e.fi/doc/user.html#create-user")
            | create a W2E user
        |  with the following HTTP POST request:
    pre
        | POST /api/organization/users
        | Host: 
        = W2E
        | 
        | ...
        | 
        | {"client_id":"FOO","client_secret":"BAR"}

    p
        | The client_id and client_secret are specific to the client application.

    form(action="/step2", method="post")
        input(type="submit", value="Create user")
