extends layout

block content
    h1 We're done

    p Here's the latest user data:

    textarea
        = JSON.stringify(data, undefined, 2)

    h1 One more thing...

    p
        | We probably want to delete the user we just created.
    p
        | Normally we would store the user credentials to a database or something,
        |  to later do stuff for the user at W2E.
        | Unfortunately Weijo doesn't have a database so the user would just be let hanging.
        | Better delete it.

    form(action="/step6", method="post")
        input(type="hidden", name="username", value!=username)
        input(type="hidden", name="access_token", value!=access_token)
        input(type="submit", value="Delete user")
