body {
    padding: 25px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
    font-size: 20px;
    padding: 0.5em;
    margin: 0.125em;
}

pre {
    background-color: #EEE;
    border: 1px solid #DDD;
    padding: 0.5em;
}

textarea {

    width: 100%;
    height: 12em;
}
